@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap");

$font-sans: "IBM Plex Sans", sans-serif;
$font-mono: "IBM Plex Mono", monospace;
$color-white: #f3f4f6;
$color-green: #17c083;
$color-black: #000;
$principal-light-color: #111827;
$principal-dark-color: #000014;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  background-color: $principal-dark-color;
  background-image: radial-gradient(
    87.7% 87.7% at 85.6% 18.14%,
    $principal-light-color 0%,
    $principal-dark-color 100%
  );
  color: $color-white;
  background-repeat: no-repeat;
}

body {
  font-family: $font-sans;
  font-weight: 400;
  font-size: clamp(14px, calc(2rem + (6vw - 2.4rem)), 20px);
  box-sizing: border-box;
  color: #f3f4f6;
}

.presentation {
  display: grid;
  grid-template-columns: auto 55vw auto;
  grid-template-columns: minmax(2.4rem, 1fr) minmax(auto, 60ch) minmax(
    2.4rem,
    1fr
    );
  gap: 2rem;
  padding: clamp(2.4rem, 5vw, 6rem) 0;
  line-height: 1.5;
  
  & > * {
    grid-column-start: 2;
  }
  
  &--logo {
    margin: 4rem auto;
  }
  
  &__text {
    & > * + * {
      margin-top: 2rem;
    }

    &--title {
      font-size: 5rem;
      font-weight: 400;
      line-height: 1.1;

      @media (min-width: 50em) {
        font-size: 3.05rem;
      }

      &--green {
        color: $color-green;
      }
    }
  }

  &--hint {
    font-size: 1.3rem;
    margin-top: 2em;
    padding: 2em 0;
    opacity: 0.8;
  }

}

.btn {
  position: relative;
  display: inline-block;

  &--animated {
    &,
    &:active,
    &:visited {
      position: relative;
      display: inline-block;
      text-decoration: none;
      color: $color-green;
      padding: 0.05em 0.125em;
      margin: -0.05em -0.125em;

      &:hover::after,
      &:focus:after {
        transform: scaleY(1);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-green;
        transform: scaleY(0.05);
        transform-origin: bottom center;
        transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1);
        z-index: -1;
      }
    }
  }

  &--action {
    padding: 2rem;
    border: 1px solid $color-green;
    margin-top: 2rem;
    width: 100.695%;
  }
}

.position {
  &-relative {
    position: relative;
  }
}
